.pagination {
  display: inline-block;
  margin: 20px 0;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333333;
  line-height: 20px;
}

.pagination.goto {
  padding-top: 14px;
}

.pagination.goto input{
  width: 30px;
  margin: 2px 5px;
  padding: 2px;
  text-align: center;
}

.pagination ul {
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
}

.pull-right {
  float: right;
}

.pagination ul > li {
  display: inline;
  line-height: 20px;
}

.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover, .pagination ul > .disabled > a:focus {
  background-color: transparent;
  color: #999999;
  cursor: default;
}

.pagination ul > li > a, .pagination ul > li > span {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #FFFFFF;
  border-color: #DDDDDD;
  border-image: none;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  float: left;
  line-height: 20px;
  padding: 4px 12px;
  text-decoration: none;
  color: #0088cc;
}

.pagination ul > li.active >a {
  color: #999999;
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
  border-bottom-left-radius: 4px;
  border-left-width: 1px;
  border-top-left-radius: 4px;
}

.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
